@import "../Styles/style.scss";
@import "~bootstrap/scss/bootstrap";

.App {
  color: $color-four;
  font-size: 16px;
  font-weight: $font-weight-medium;
  background: url("../Assets/background.jpg");
}

p {
  margin: 0 0;
}

.row {
  padding: 16px 0;
}

.btn.link {
  text-decoration: underline;
  min-width: 200px;
  color: $color-four;
  background-color: transparent;
  border: none;
}

.modal-footer {
  justify-content: center;
}

.page {
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}
